########################################
# Service ports and urls               #
########################################
#
# Most of these can be kept as is.
# You probably only need to change these ports if you run multiple
# services simultaneously on your local dev machine.
#

# Internal http api port
HTTP_PORT=8080

# Internal grpc port
GRPC_PORT=8081

# Internal http web port 
WEB_PORT=8000

# Path prefix for the http web endpoints
WEB_PATH_PREFIX=/web


########################################
# Database configuration              #
########################################
#
# Connection details to the postgres database
# Set these values to match your local development database
#
DB_HOST=127.0.0.1
DB_PORT=35432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=authdb
DB_SSL_MODE=disable


########################################
# Credentials of the built-in admin    #
########################################
#
# On production those values should be set to a real admin user and you
# should use a strong password
#
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=MyStrongPassword123


########################################
# Mail service configuration           #
########################################
#
# Configuration for the mail service
#

# The address used to send mails from.
# Set this to a valid email address, supported by the underlying mail
# server.
MAILER_ADDRESS=swayrider@example.com

# The hostname of the mail service
MAILSERVICE_HOST=mailservice.example.com

# The gRPC port of the mail service
MAILSERVICE_PORT=8081
