HTTP_PORT=34001
GRPC_PORT=34101
WEB_PORT=34201
WEB_PATH_PREFIX=/web

DB_HOST=192.168.1.222
DB_PORT=35432
DB_USER=postgresadmin
DB_PASSWORD=ii02dH52irbeyX0ziVcp
DB_NAME=authdb
DB_SSL_MODE=disable

ADMIN_EMAIL=maarten@hevanto-it.com
ADMIN_PASSWORD=maarten123
MAILER_ADDRESS=swayrider@hevanto-it.com

MAILSERVICE_HOST=192.168.1.222
MAILSERVICE_PORT=34102
