HTTP_PORT=8080
GRPC_PORT=8081
WEB_PORT=8000
WEB_PATH_PREFIX=/web

DB_HOST=127.0.0.1
DB_PORT=35432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=authdb
DB_SSL_MODE=disable

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=MyStronPasword123
MAILER_ADDRESS=swayrider@example.com

MAILSERVICE_HOST=127.0.0.1
MAILSERVICE_PORT=34102
